// Estilos principais do layout

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

// Classe comum para as seções
.section-wrapper {
    display: flex;
    justify-content: center; // Centraliza o conteúdo horizontalmente
    align-items: center; // Centraliza o conteúdo verticalmente
    height: 100vh; // Garante que cada seção ocupe a altura total da tela
    width: 100%; // Garante que a largura ocupe 100% da tela
    padding: 10px; // Espaçamento adicional em dispositivos móveis
    text-align: center; // Centraliza o texto, se necessário
}

// Para telas maiores, podemos ajustar o padding e garantir mais espaçamento
@media (min-width: 600px) {
    .section-wrapper {
        padding: 20px; // Mais espaçamento para telas maiores
    }
}

@media (min-width: 1024px) {
    .section-wrapper {
        padding: 40px; // Mais espaçamento para telas de desktop
    }
}

// Opcional: pode adicionar algum estilo global para facilitar a visualização
body {
    font-family: Arial, sans-serif; // Exemplo de fonte padrão
    background-color: #f4f4f4; // Cor de fundo para a página
}