<div class="login-container">
    <mat-card class="login-card">
        <h2 class="login-title">
            <fa-icon [icon]="['fas', 'user-circle']"></fa-icon> Login
        </h2>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- Campo de Email -->
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>
                    <fa-icon [icon]="['fas', 'envelope']"></fa-icon> Email
                </mat-label>
                <input matInput formControlName="email" type="email" placeholder="Digite seu email" />
                <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    Email inválido.
                </mat-error>
            </mat-form-field>

            <!-- Campo de Senha -->
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>
                    <fa-icon [icon]="['fas', 'lock']"></fa-icon> Senha
                </mat-label>
                <input matInput formControlName="password" type="password" placeholder="Digite sua senha" />
                <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    A senha deve ter pelo menos 6 caracteres.
                </mat-error>
            </mat-form-field>

            <!-- Botão de Login -->
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon> Entrar
            </button>
        </form>

        <!-- Mensagem de Erro -->
        <div *ngIf="errorMessage" class="error-message">
            <fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon> {{ errorMessage }}
        </div>

        <!-- Link para Cadastro -->
        <p class="register-link">
            Não tem uma conta? <a (click)="goToRegister()">Cadastre-se aqui</a>
        </p>
    </mat-card>
</div>