.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Garante que a página ocupe a altura total da janela

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: #ffffff; // Fundo branco ou outro padrão
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra sutil para o cabeçalho
    }

    .content {
        flex: 1; // O conteúdo principal ocupa o espaço restante
        margin-top: 60px; // Espaço para o cabeçalho fixo
        padding: 1rem; // Espaçamento interno para conteúdo
        width: 100%; // Garante que o conteúdo ocupe toda a largura
    }

    .footer {
        width: 100%; // Garante que o rodapé ocupe toda a largura
        margin-top: auto; // Empurra o rodapé para o fim do layout
       
       
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); // Sombra sutil para o rodapé
    }
}