<div class="schedule-container">
    <ng-container [ngSwitch]="currentStep">
        <!-- Etapa 1: Seleção do Tipo de Atendimento -->
        <app-select-appointment-type *ngSwitchCase="'selectType'" (typeSelected)="onTypeSelected($event)">
        </app-select-appointment-type>

        <!-- Etapa 2: Seleção da Data e Profissional -->
        <app-schedule-details *ngSwitchCase="'scheduleDetails'" [appointmentType]="selectedType" (reset)="resetFlow()">
        </app-schedule-details>
    </ng-container>
</div>