// Paleta de Cores
$primary-color: #004d80;
$secondary-color: #007acc;
$error-color: #e53935;

// Estilos do Card
.appointment-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .card-title {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: $primary-color;

        mat-icon {
            margin-right: 8px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        mat-form-field {
            width: 100%;
        }

        button {
            align-self: flex-end;
            background-color: $primary-color;
            color: #fff;
            font-weight: bold;
            transition: all 0.3s ease;

            &:hover {
                background-color: $secondary-color;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

            mat-icon {
                margin-right: 8px;
            }
        }
    }
}